<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ event.event_key }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <style>
      a,
      a:visited,
      a:active {
        color: inherit;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <section class="hero is-primary">
        <div class="hero-body">
          <p class="title">{{ event.event_key }}</p>
        </div>
      </section>
      <div class="columns">
        <div class="column">
          <table class="table is-bordered is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th class="has-text-centered">Match</th>
                <th class="has-text-centered" colspan="3">Red</th>
                <th class="has-text-centered" colspan="3">Blue</th>
                <th class="has-text-centered">Red Score</th>
                <th class="has-text-centered">Blue Score</th>
              </tr>
            </thead>
            <tbody>
              {% for match in quals %}
              <tr>
                <td class="has-text-centered">
                  {{ match.comp_level }}{% if match.comp_level != 'qm' %}{{
                  match.set_number }}{% else %}{% endif %} {{ match.match_number
                  }}
                </td>
                {% for tk in match.alliances.red.team_keys %}
                <td
                  class="
                    has-background-danger-dark
                    has-text-white-bis
                    has-text-centered
                  "
                >
                  <a
                    href="https://www.thebluealliance.com/team/{{ tk[3:] }}/{{ year }}"
                    >{{ tk[3:] }}</a
                  >
                </td>
                {% endfor %} {% for tk in match.alliances.blue.team_keys %}
                <td
                  class="
                    has-background-link-dark
                    has-text-white-bis
                    has-text-centered
                  "
                >
                  <a
                    href="https://www.thebluealliance.com/team/{{ tk[3:] }}/{{ year }}"
                    >{{ tk[3:] }}</a
                  >
                </td>
                {% endfor %}
                <td
                  class="
                    has-background-danger-dark
                    has-text-white-bis
                    has-text-centered
                  "
                >
                  {{ match.alliances.red.score }}
                </td>
                <td
                  class="
                    has-background-link-dark
                    has-text-white-bis
                    has-text-centered
                  "
                >
                  {{ match.alliances.blue.score }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="column">
          <table
            class="
              table
              is-bordered is-hoverable is-fullwidth is-narrow is-striped
            "
          >
            <thead>
              <tr>
                <th class="has-text-centered">Seed</th>
                <th class="has-text-centered">Captain</th>
                <th class="has-text-centered">1st Pick</th>
                <th class="has-text-centered">2nd Pick</th>
              </tr>
            </thead>
            <tbody>
              {% for alliance in event.alliance_selection %}
              <tr>
                <td class="has-text-centered">{{ alliance.seed }}</td>
                <td class="has-text-centered">
                  <a
                    href="https://www.thebluealliance.com/team/{{ alliance.captain.team_number }}/{{ year }}"
                    >{{ alliance.captain.team_number }}</a
                  >
                </td>
                <td class="has-text-centered">
                  <a
                    href="https://www.thebluealliance.com/team/{{ alliance.first_pick.team_number }}/{{ year }}"
                    >{{ alliance.first_pick.team_number }}</a
                  >
                </td>
                <td class="has-text-centered">
                  <a
                    href="https://www.thebluealliance.com/team/{{ alliance.second_pick.team_number }}/{{ year }}"
                    >{{ alliance.second_pick.team_number }}</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <table class="table is-bordered is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th class="has-text-centered">Match</th>
                <th class="has-text-centered" colspan="3">Red</th>
                <th class="has-text-centered" colspan="3">Blue</th>
                <th class="has-text-centered">Red Score</th>
                <th class="has-text-centered">Blue Score</th>
              </tr>
            </thead>
            <tbody>
              {% for match in elims %}
              <tr>
                <td class="has-text-centered">
                  {{ match.comp_level }}{% if match.comp_level != 'qm' %}{{
                  match.set_number }}{% else %}{% endif %} {{ match.match_number
                  }}
                </td>
                {% for tk in match.alliances.red.team_keys %}
                <td
                  class="
                    has-background-danger-dark
                    has-text-white-bis
                    has-text-centered
                  "
                >
                  <a
                    href="https://www.thebluealliance.com/team/{{ tk[3:] }}/{{ year }}"
                    >{{ tk[3:] }}</a
                  >
                </td>
                {% endfor %} {% for tk in match.alliances.blue.team_keys %}
                <td
                  class="
                    has-background-link-dark
                    has-text-white-bis
                    has-text-centered
                  "
                >
                  <a
                    href="https://www.thebluealliance.com/team/{{ tk[3:] }}/{{ year }}"
                    >{{ tk[3:] }}</a
                  >
                </td>
                {% endfor %}
                <td
                  class="
                    has-background-danger-dark
                    has-text-white-bis
                    has-text-centered
                  "
                >
                  {{ match.alliances.red.score }}
                </td>
                <td
                  class="
                    has-background-link-dark
                    has-text-white-bis
                    has-text-centered
                  "
                >
                  {{ match.alliances.blue.score }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
